<landing-top-bar></landing-top-bar>

<div class="container-lg border-top border-left border-right landing__platform">

  <div class="row">
    <div class="col text-center">
      <h1 class="font-weight-bold text-black slide-up-1 font-primary">
        Decentralized
        <br class="d-sm-none" />
        Social Labs
      </h1>
      <h3 class="slide-up-1 mt-20px">hackathons & community</h3>
      <div class="slide-up-2 mt-30px">
        <p>
          <a *ngIf="!globalVars.loggedInUser" 
             class="btn btn-primary btn-lg pl-30px pr-30px" (click)="globalVars.launchAuthFlow()">Sign Up / Log in</a>
          <a *ngIf="globalVars.loggedInUser"
             class="btn btn-primary btn-lg pl-30px pr-30px" [routerLink]="'/' + RouteNames.FEEDS">Browse the network</a>
        </p>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-lg-8 col-md-9 col-sm-12 text-center landing__prop">
      <p class="landing__prop-desc">
        <b>DeSoLabs</b> is a community of builders.
        <br class="d-none d-md-block" />
        You can join, support or simply use the tools being made.
        <br />
        <a href="/assets/litepaper.html" target="_blank">Read more about DeSo Labs</a>
      </p>
      <p class="landing__prop-desc">
        <b>Deso</b> is an open-source L1 blockchain.
        <br class="d-none d-md-block" />
        You can access the social network's data from any node.
        <br />
        <a href="https://docs.deso.org/#the-ultimate-vision" target="_blank">Read more about DeSo's vision</a>
      </p>
    </div>
  </div>

</div>
