<top-bar-mobile-navigation-control [isLightColor]="true" class="d-lg-none position-absolute" style="right: 15px; top: 15px;">
</top-bar-mobile-navigation-control>

<div class="creator-profile__top-bar" >
  <div *ngIf="profile.ExtraData && profile.ExtraData.FeaturedImageURL"
    style="background-image: url('{{ profile.ExtraData.FeaturedImageURL }}'); 
           background-size: cover; background-position: top;"></div>
</div>

<div class="creator-profile__avatar" [avatar]="profile.PublicKeyBase58Check"></div>

<div class="d-flex align-items-center justify-content-end mr-15px mt-15px">
  <profile-options-button [profile]="profile"
    (userUnblocked)="unblock()" (userBlocked)="block()"></profile-options-button>

  <follow-button 
    *ngIf="globalVars.loggedInUser && !profileBelongsToLoggedInUser()">
    [displayAsLink]="true" [followedPubKeyBase58Check]="profile.PublicKeyBase58Check">
  </follow-button>

  <a class="btn btn-primary font-weight-bold ml-15px fs-14px"
    [routerLink]="AppRoutingModule.buyCreatorPath(profile.Username)"
    queryParamsHandling="merge">Trade coins</a>
</div>

<div class="d-flex flex-column pl-15px pr-15px">
  <div class="fs-24px font-weight-bold d-flex align-items-center">

    {{ profile.Username }}

    <div
      *ngIf="profile.IsReserved"
      (click)="tooltip.toggle()"
      class="ml-10px cursor-pointer fs-18px lh-12px fc-muted"
      matTooltipClass="global__mat-tooltip global__mat-tooltip-font-size"
      [matTooltip]="'This profile was parked by the deso core team'"
      #tooltip="matTooltip"
    >
      <i class="far fa-clock fa-md align-middle"></i>
    </div>

    <div
      *ngIf="profile.IsVerified"
      (click)="tooltip.toggle()"
      class="ml-1 mb-1 cursor-pointer fs-20px text-primary"
      matTooltipClass="global__mat-tooltip global__mat-tooltip-font-size"
      [matTooltip]="'This account is verified'"
      #tooltip="matTooltip"
    >
      <i class="fas fa-check-circle fa-md align-middle"></i>
    </div>
  </div>

  <div style="whitespace: nowrap" class="d-flex">
    <div class="font-weight-normal" style="display: inline">
      Ð {{ (profile.CoinPriceDeSoNanos / 1E9).toFixed(2) }}
      <span class="fc-muted font-weight-normal">Coin</span>&nbsp;at
      <span class="font-weight-bold">{{ getFoundersRewardPercent() | number: '0.0-9' }}%</span> FR
    </div>
  </div>
  <div style="whitespace: nowrap" class="d-flex">
    <div class="font-weight-normal" style="display: inline">
      Ð {{ profile.BestExchangeRateDESOPerDAOCoin.toFixed(2) }}
      <span class="fc-muted font-weight-normal">Token</span>
    </div>
  </div>

  <div
    class="fs-15px py-15px text-break"
    [innerHTML]="profile.Description | sanitizeAndAutoLink"
  ></div>
  <div class="fs-15px d-flex flex-column flex-wrap">
    <div class="d-flex pt-5px">
      <a
        class="link--unstyled"
        *ngIf="followerCount != null"
        [routerLink]="AppRoutingModule.userFollowersPath(profile.Username)"
        queryParamsHandling="merge"
      >
        <span class="font-weight-bold">{{ followerCount }}&nbsp;</span>
        <span class="fc-muted">Followers&nbsp;&nbsp;</span>
      </a>

      <a
        class="link--unstyled"
        *ngIf="followingCount != null"
        [routerLink]="AppRoutingModule.userFollowingPath(profile.Username)"
        queryParamsHandling="merge"
      >
        <span class="font-weight-bold">{{ followingCount }}&nbsp;</span>
        <span class="fc-muted">Following&nbsp;&nbsp;</span>
      </a>

      <div>
        <span class="font-weight-bold">{{ profile.CoinEntry.NumberOfHolders }}&nbsp;</span>
        <span class="fc-muted">Supporters&nbsp;&nbsp;</span>
      </div>

      <div>
        <span class="font-weight-bold">{{ profile.DAOCoinEntry.NumberOfHolders }}&nbsp;</span>
        <span class="fc-muted">Hodlers&nbsp;&nbsp;</span>
      </div>
    </div>
  </div>
</div>

<div
  class="fs-12px mt-10px pt-15px pb-15px flex-wrap border-top border-bottom border-color-grey light-grey-divider"
>
  <div class="fs-12x d-inline-block col-4 mb-0" style="text-align: center">
    <span class="font-weight-bold d-block">
      {{ (profile.CoinEntry.CoinsInCirculationNanos / 1e9).toFixed(2) }}</span
    >
    <span class="fc-muted d-block">Coins Minted</span>
  </div>
  <div
    class="fs-12px d-inline-block col-4 align-items-center mb-0"
    style="text-align: center"
  >
    <span class="font-weight-bold d-block">{{ totalUtilityCoins() }}</span>
    <span class="fc-muted d-block">Tokens Minted</span>
  </div>
  <div
    class="fs-12px d-inline-block col-4 align-items-center mb-0"
    style="text-align: center">
    <span class="font-weight-bold d-block">{{ (profile.CoinEntry.DeSoLockedNanos / 1E9).toFixed(2) }}</span>
    <span class="fc-muted d-block">ÐESO Locked</span>
  </div>

  
</div>
