<landing-top-bar></landing-top-bar>

<div class="container-lg border-top border-left border-right landing__platform">

  <div class="row">
    <div class="col text-center">
      <h1 class="font-weight-bold slide-up-1 font-primary">
        Community
        <br class="d-sm-none" />
        Hackathon
      </h1>
      <h3 class="slide-up-1 mt-20px mb-30px">Decentralize social networks!</h3>
    </div>
  </div>

  <div class="d-flex justify-content-center slide-up-2">
    <div class="col-lg-10 d-flex align-items-center justify-content-center flex-wrap">
      <img class="mt-30px" src="assets/img/hackathons/crypt0winter-2022/hackathon.png" height="200px" />
      <div class="ml-15px mt-30px">
        <div class="d-flex justify-content-center">
          <h2 class="font-weight-bold font-primary">CRYPT0WINTER 2022</h2> 
        </div>
        <div class="d-flex align-items-center justify-content-center mt-15px"> 
          <img src='assets/img/deso-logo.png' height='52px'/>
          <div class="col-md-8 col-lg-6">Thank you to the <a href="https://deso.com" _target="blank">DeSo&nbsp;Foundation</a> for supporting this community&nbsp;event&nbsp;🎉</div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center slide-up-3">
    <div class="col-lg-10 d-flex align-items-center justify-content-center flex-wrap">
      <div class="ml-15px mt-30px">
        <div class="d-flex justify-content-center">
          <h3 class="font-weight-bold font-primary">Hackathon sponsors</h3> 
        </div>

        <div class="d-flex flex-wrap justify-content-center align-items-center mt-20px">
          <a 
            *ngFor="let goldSponsor of goldSponsors" 
            href="/u/{{ goldSponsor.name }}" 
            class="font-weight-bold fc-blue m-10px" 
            target="_blank">
            
            <img src="{{ goldSponsor.banner }}" style="max-height: 120px;" />
            <div class="text-center">
              <p class="fs-20px">{{ goldSponsor.name }}</p>
            </div>
          </a>
        </div>

        <div class="d-flex flex-wrap justify-content-center align-items-center mt-20px">
          <a 
            *ngFor="let silverSponsor of silverSponsors" 
            href="/u/{{ silverSponsor.ProfileEntryResponse.Username }}" 
            title="{{ silverSponsor.ProfileEntryResponse.Username }}"
            class="m-10px" 
            target="_blank">
            
            <img class="rounded" src="{{ 'https://node.deso.org/api/v0/get-single-profile-picture/' + silverSponsor.OwnerPublicKeyBase58Check }}" style="max-height: 72px;" />
          </a>
        </div>

        <div class="d-flex flex-wrap justify-content-center align-items-center mt-20px">
          <a 
            *ngFor="let communitySponsor of communitySponsors" 
            href="/u/{{ communitySponsor.ProfileEntryResponse.Username }}" 
            class="ml-5px mr-5px" 
            target="_blank">

            {{ communitySponsor.ProfileEntryResponse.Username }}
          </a>
        </div>
        
      </div>
    </div>
  </div>

</div>
