<div
  *ngIf="globalVars.loggedInUser && !globalVars.loggedInUser.JumioVerified"
  class="w-100"
>
  <!-- User completed Jumio flow, but we haven't received the Jumio callback yet-->
  <div
    *ngIf="
      globalVars.loggedInUser.JumioFinishedTime &&
      !globalVars.loggedInUser.JumioReturned
    "
    class="d-flex align-items-center font-weight-normal justify-content-between"
  >
    <div class="fs-20px">⌛</div>
    <div style="width: calc(100% - 4rem); text-align: center">
      Your free <free-deso-message></free-deso-message> will arrive in
      <b>about a minute</b>.
    </div>
    <div class="fs-20px">⌛</div>
  </div>
  
</div>
