<div class="w-100 border-bottom px-10px">
  <div class="container-lg landing__header">
    <div class="row">
      <div class="d-flex align-items-center">
        <img
          src="assets/img/logo-192.png"
          class="deso mr-5px"
          style="height: 32px"/>
        <span 
          class="font-weight-bold fs-24px" 
          style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';">DeSo Labs</span>
      </div>
      <div class="col d-flex justify-content-end align-items-center">
        <a class="landing__nav-link" href="https://desolabs.org/litepaper" target="_blank">Litepaper</a>
      </div>
    </div>
  </div>
</div>


<div class="container-lg border-top border-left border-right landing__platform">

  <div class="row">
    <div class="col text-center">
      <h1 class="font-weight-bold text-black slide-up-1">
        Decentralized
        <br class="d-sm-none" />
        Social Network
      </h1>
      <h2 class="mt-20px">Community Labs</h2>
      <div class="slide-up-2 mt-30px">
        <p>
          <a class="btn btn-primary landing__sign-up" (click)="globalVars.launchAuthFlow()">Sign Up / Log in</a>
        </p>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center invisible" animateOnScroll animationName="slide-up">
    <div class="col-lg-8 col-md-9 col-sm-12 text-center landing__prop">
      <h3 class="landing__prop-header">DeSo Labs</h3>
      <p class="landing__prop-desc">
        <b>DeSo</b> is an open-source L1 blockchain.
        <br class="d-none d-md-block" />
        You can access the social network's data from any node.
      </p>
      <p class="landing__prop-desc">
        <b>DeSo Labs</b> is a community of builders.
        <br class="d-none d-md-block" />
        You can join, support or simply use the tools we create.
        <br />
        <br />
        <a href="https://docs.deso.org/#the-ultimate-vision" target="_blank">Learn More</a>
      </p>
      <div class="row d-flex justify-content-center">
        <div class="col-sm-10 col-xs-12 mb-0 landing__example">
          <div *ngFor="let post of featuredPosts">
            <div class="d-flex border-bottom pb-3 pt-3">
              <div class="feed-post__avatar br-12px" style="background-image: url('{{ post.pic }}');background-position: center;background-size: cover;min-width:50px;"></div>
              <div class="d-flex flex-column justify-content-start text-left ml-3">
                <div>
                  <span class="font-weight-bold">{{ post.name }}</span>
                  <span class="text-greyA fs-12px ml-2">{{ post.when }}</span>
                </div>
                <div class="roboto-regular mt-1 fs-14px">
                  {{ post.text }}
                </div>
                <div class="d-flex mt-2">
                  <div class="mr-5 d-flex align-items-center text-grey6">
                    <i class="icon-reply mr-1 fs-20px"></i>
                    <span class="fs-12px">{{ post.comments }}</span>
                  </div>
                  <div class="mr-5 d-flex align-items-center text-grey6">
                    <i [ngClass]="post.reposted ? 'fc-green' : ''" class="icon-repost mr-2 fs-20px"></i>
                    <span class="fs-12px">{{ post.reposts }}</span>
                  </div>
                  <div class="mr-5 d-flex align-items-center text-grey6">
                    <i [ngClass]="post.liked ? 'icon-heart-fill fc-red' : 'icon-heart'" class="mr-1 fs-20px"></i>
                    <span class="fs-12px">{{ post.likes }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-100 landing__echo">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col mb-0 text-center">
          <p class="text-grey9 fs-20px">Welcome to the future 🚀</p>
        </div>
      </div>
    </div>
  </div>
</div>
