<app-page>
  <not-found *ngIf="!profile && !loading"></not-found>
  <simple-center-loader *ngIf="loading"></simple-center-loader>

  <div *ngIf="profile && !loading" class="flex-grow-1">
  
    <profile-top-card 
      [profile]="profile" (userUnblocked)="unblock()" (userBlocked)="block()">    
    </profile-top-card>

    <tab-selector [activeTab]="activeTab"
      [tabs]="['Posts', 'Coins', 'Tokens', 'Diamonds', 'NFTs']" (tabClick)="_handleTabClick($event)">
    </tab-selector>

    <div *ngIf="globalVars.hasUserBlockedCreator(profile.PublicKeyBase58Check)" class="w-100 d-flex p-15px">
        You have blocked {{ profile.Username }}.&nbsp;
        <a class="fc-blue" (click)="unblock()">Unblock</a>&nbsp;to see the content.
    </div>

    <div *ngIf="!globalVars.hasUserBlockedCreator(profile.PublicKeyBase58Check)">
      
      <profile-hodlers *ngIf="activeTab == 'Coins'"
        class="w-100 d-flex flex-column" [profile]="profile">    
      </profile-hodlers>

      <profile-posts *ngIf="profile && activeTab == 'Posts'"
        [profile]="profile">    
      </profile-posts>

      <profile-hodlers *ngIf="activeTab == 'Tokens'"
        class="w-100 d-flex flex-column" [profile]="profile" [isDAOCoin]="true">    
      </profile-hodlers>

      <profile-diamonds *ngIf="activeTab == 'Diamonds'" 
        class="w-100 d-flex flex-column" [profile]="profile">  
      </profile-diamonds>
    
      <profile-nfts *ngIf="activeTab == 'NFTs'"
        class="w-100 d-flex flex-column" [profile]="profile">
      </profile-nfts>

    </div>
  </div>
</app-page>
